.worksContainer {
  height: 650px;
  width: 75%;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  padding: 20px;
}
.worksContainer h1 {
  font-size: 2.5em;
}

.navbarTag ul {
  margin: 0 25px;
}
.navbarTag ul li {
  display: inline-block;
}

.navbarTag ul li a {
  /* text-transform: uppercase; */
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1em;
  color: #d0826f;
  display: block;
  line-height: 50px;
  padding: 0 25px;
}
